He a√±adido los siguientes Datasets con datos del INE, obtenidos del portal de datos abiertos del gobierno de Espa√±a (https://datos.gob.es/es/catalogo?q=turismo+torrevieja&sort=score+desc%2C+metadata_created+desc)

## üìä EOAP ‚Äî Encuesta de Ocupaci√≥n de Apartamentos Tur√≠sticos

| Variable | Descripci√≥n | Relevancia para el estudio de turismo |
|----------|-------------|---------------------------------------|
| `estancia_media_eoap` | Estancia media (n√∫mero de noches por viajero en apartamentos tur√≠sticos) | Indica duraci√≥n de las estancias en apartamentos tur√≠sticos |
| `pernoctaciones_eoap` | Total de pernoctaciones en apartamentos tur√≠sticos | Volumen de actividad tur√≠stica en apartamentos |
| `ocupacion_plazas_eoap` | Porcentaje de ocupaci√≥n de plazas en apartamentos | Mide intensidad de uso y demanda tur√≠stica |
| `ocupacion_plazas_finde_eoap` | Ocupaci√≥n de plazas en fin de semana (apartamentos) | Mide demanda en picos de fin de semana |
| `ocupacion_apartamentos_eoap` | Porcentaje de ocupaci√≥n de apartamentos (unidad completa) | Tasa de ocupaci√≥n de apartamentos, no solo plazas |
| `ocupacion_apartamentos_finde_eoap` | Ocupaci√≥n de apartamentos en fin de semana | Tasa de ocupaci√≥n de unidades enteras en fines de semana |
| `numero_apartamentos_eoap` | N√∫mero total de apartamentos tur√≠sticos registrados | Oferta de alojamientos tur√≠sticos en apartamentos |
| `numero_plazas_eoap` | N√∫mero total de plazas en apartamentos tur√≠sticos | Capacidad total del sector de apartamentos |
| `numero_establecimientos_eoap` | N√∫mero de establecimientos de apartamentos tur√≠sticos | Indicador de tama√±o de la oferta y distribuci√≥n territorial |
| `viajeros_eoap` | N√∫mero de viajeros alojados en apartamentos tur√≠sticos | Demanda tur√≠stica efectiva en este tipo de alojamiento |

---

## üè® EOH ‚Äî Encuesta de Ocupaci√≥n Hotelera

| Variable | Descripci√≥n | Relevancia para el estudio de turismo |
|----------|-------------|---------------------------------------|
| `estancia_media_eoh` | Estancia media (n√∫mero de noches por viajero en hoteles) | Indica duraci√≥n de las estancias hoteleras |
| `numero_plazas_eoh` | N√∫mero total de plazas hoteleras | Capacidad total del sector hotelero |
| `ocupacion_plazas_eoh` | Porcentaje de ocupaci√≥n de plazas hoteleras | Mide intensidad de uso y demanda tur√≠stica |
| `ocupacion_habitaciones_eoh` | Porcentaje de ocupaci√≥n de habitaciones hoteleras | Mide demanda por unidad de alojamiento |
| `ocupacion_plazas_finde_eoh` | Ocupaci√≥n de plazas en fin de semana (hoteles) | Mide demanda en picos de fin de semana |
| `numero_establecimientos_eoh` | N√∫mero de establecimientos hoteleros registrados | Indicador de tama√±o y distribuci√≥n de oferta hotelera |
| `viajeros_eoh` | N√∫mero de viajeros alojados en hoteles | Demanda tur√≠stica efectiva en hoteles |
| `habitaciones_eoh` | N√∫mero total de habitaciones disponibles | Oferta de habitaciones hoteleras |
| `personal_eoh` | Personal empleado en el sector hotelero | Indicador indirecto de tama√±o econ√≥mico y empleo del sector |

---

# Librer√≠as

In [3]:
import requests
import pandas as pd
import json
from datetime import datetime, timedelta
import time
import os

# Carga

In [4]:
data_path = os.path.join(os.getcwd(), 'data')

daily = pd.read_csv(os.path.join(data_path, 'Guardamar', 'Spain-guardamar-del-segura_Daily_Match_2023-11-23.csv'))
monthly = pd.read_csv(os.path.join(data_path, 'Guardamar', 'Spain-guardamar-del-segura_Property_Extended_Match_2023-11-23.csv'))
extended = pd.read_csv(os.path.join(data_path, 'Guardamar', 'Spain-guardamar-del-segura_Property_Extended_Match_2023-11-23.csv'))

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19368\4030195430.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  daily = pd.read_csv(os.path.join(data_path, 'Guardamar', 'Spain-guardamar-del-segura_Daily_Match_2023-11-23.csv'))

In [5]:
daily.head()

,Property ID,Date,Status,Booked Date,Price (USD),Price (Native),Currency Native,Reservation ID,Airbnb Property ID,HomeAway Property ID
0,ab-1002668612823338646,2023-10-01,A,NaN,0.0,0.0,EUR,NaN,1.002669e+18,NaN
1,ab-1002668612823338646,2023-10-02,A,NaN,0.0,0.0,EUR,NaN,1.002669e+18,NaN
2,ab-1002668612823338646,2023-10-03,A,NaN,0.0,0.0,EUR,NaN,1.002669e+18,NaN
3,ab-1002668612823338646,2023-10-04,A,NaN,0.0,0.0,EUR,NaN,1.002669e+18,NaN
4,ab-1002668612823338646,2023-10-05,A,NaN,0.0,0.0,EUR,NaN,1.002669e+18,NaN

In [6]:
monthly.head()

,Property ID,Listing Title,Property Type,Listing Type,Created Date,Last Scraped Date,Country,State,City,Zipcode,...,Integrated Property Manager,Amenities,HomeAway Location Type,Airbnb Property Plus,Airbnb Home Collection,License,Airbnb Property ID,Airbnb Host ID,HomeAway Property ID,HomeAway Property Manager ID
0,ab-295403,A top floor apartment by the sea,Entire apartment,Entire home/apt,2011-12-24,2017-12-19,Spain,NaN,Guardamar del Segura,NaN,...,NaN,"[""kitchen"", ""tv"", ""heating"", ""ac"", ""washer"", ""...",NaN,NaN,NaN,NaN,295403.0,1524447.0,NaN,NaN
1,ab-484366,Beach house 300m from the sea Spain,Home,Entire home/apt,2012-05-16,2023-11-15,Spain,Alicante,Guardamar del Segura,NaN,...,NaN,"[""free_parking"", ""wireless_internet"", ""firepla...",NaN,False,NaN,NaN,484366.0,2397719.0,1204376a,NaN
2,ab-608855,Ven a tomar el sol al Mediterr√°neo,Apartment,Entire home/apt,2012-07-21,2021-02-09,Spain,Alicante,Guardamar del Segura,NaN,...,NaN,"[""elevator"", ""free_parking"", ""wireless_interne...",NaN,False,NaN,VT-460933-A,608855.0,2760935.0,NaN,NaN
3,ab-627895,NICE APARTMENT IN GUARDAMAR,Rental unit,Entire home/apt,2012-07-30,2023-01-16,Spain,Alicante,Guardamar del Segura,NaN,...,NaN,"[""elevator"", ""kitchen"", ""hangers"", ""iron"", ""wa...",NaN,False,NaN,NaN,627895.0,3086177.0,NaN,NaN
4,ab-719745,Holiday House for rent 150m from Alicante beach,Chalet,Entire home/apt,2012-09-29,2023-11-19,Spain,Alicante,Guardamar del Segura,NaN,...,NaN,"[""fireplace"", ""kitchen"", ""ac"", ""heating"", ""hai...",NaN,False,NaN,NaN,719745.0,2397719.0,NaN,NaN

In [7]:
monthly.columns

Index(['Property ID', 'Listing Title', 'Property Type', 'Listing Type',
       'Created Date', 'Last Scraped Date', 'Country', 'State', 'City',
       'Zipcode', 'Neighborhood', 'Metropolitan Statistical Area',
       'Currency Native', 'Average Daily Rate (USD)',
       'Average Daily Rate (Native)', 'Annual Revenue LTM (USD)',
       'Annual Revenue LTM (Native)', 'Occupancy Rate LTM',
       'Number of Bookings LTM', 'Number of Reviews', 'Bedrooms', 'Bathrooms',
       'Max Guests', 'Calendar Last Updated', 'Response Rate',
       'Airbnb Response Time (Text)', 'Airbnb Superhost',
       'HomeAway Premier Partner', 'Cancellation Policy',
       'Security Deposit (USD)', 'Security Deposit (Native)',
       'Cleaning Fee (USD)', 'Cleaning Fee (Native)', 'Extra People Fee (USD)',
       'Extra People Fee (Native)', 'Published Nightly Rate (USD)',
       'Published Monthly Rate (USD)', 'Published Weekly Rate (USD)',
       'Check-in Time', 'Checkout Time', 'Minimum Stay',
       'Count Reservation Days LTM', 'Count Available Days LTM',
       'Count Blocked Days LTM', 'Number of Photos', 'Instantbook Enabled',
       'Listing URL', 'Listing Main Image URL', 'Listing Images', 'Latitude',
       'Longitude', 'Exact Location', 'Overall Rating',
       'Airbnb Communication Rating', 'Airbnb Accuracy Rating',
       'Airbnb Cleanliness Rating', 'Airbnb Checkin Rating',
       'Airbnb Location Rating', 'Airbnb Value Rating', 'Pets Allowed',
       'Integrated Property Manager', 'Amenities', 'HomeAway Location Type',
       'Airbnb Property Plus', 'Airbnb Home Collection', 'License',
       'Airbnb Property ID', 'Airbnb Host ID', 'HomeAway Property ID',
       'HomeAway Property Manager ID'],
      dtype='object')

In [8]:
print(monthly['Latitude'].isna().sum())
print(monthly['Longitude'].isna().sum())

0
0

# EDA

In [9]:
print(min(daily['Date']))
print(max(daily['Date']))

2016-06-01
2023-10-31

# Datos generales

In [10]:
datos = os.path.join(os.getcwd(), 'datos_generales')

# Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos (EOAP)

## Estancia media

Tabla de INEbase Estancia media de los viajeros por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [11]:
estancia_media_eoap = pd.read_csv(os.path.join(datos, '60029.csv'), delimiter=';')
filtro = estancia_media_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

estancia_media_eoap = estancia_media_eoap[filtro]

print(estancia_media_eoap)

    Puntos tur√≠sticos       Meses  Total
156  03133 TORREVIEJA       Total  11,47
157  03133 TORREVIEJA       Enero  13,34
158  03133 TORREVIEJA     Febrero  12,89
159  03133 TORREVIEJA       Marzo  14,94
160  03133 TORREVIEJA       Abril  13,77
161  03133 TORREVIEJA        Mayo   12,3
162  03133 TORREVIEJA       Junio    7,7
163  03133 TORREVIEJA       Julio  10,61
164  03133 TORREVIEJA      Agosto  10,24
165  03133 TORREVIEJA  Septiembre    9,2
166  03133 TORREVIEJA     Octubre  16,15
167  03133 TORREVIEJA   Noviembre  23,93
168  03133 TORREVIEJA   Diciembre  16,27

## Pernoctaciones

Tabla de INEbase Pernoctaciones de los viajeros entrados por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [12]:
pernoctaciones_eoap = pd.read_csv(os.path.join(datos, '60027.csv'), delimiter=';')
filtro = pernoctaciones_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

pernoctaciones_eoap = pernoctaciones_eoap[filtro]

print(pernoctaciones_eoap)

    Puntos tur√≠sticos       Meses    Total
156  03133 TORREVIEJA       Total  454.722
157  03133 TORREVIEJA       Enero   10.239
158  03133 TORREVIEJA     Febrero   12.712
159  03133 TORREVIEJA       Marzo   16.709
160  03133 TORREVIEJA       Abril   35.913
161  03133 TORREVIEJA        Mayo   33.494
162  03133 TORREVIEJA       Junio   59.921
163  03133 TORREVIEJA       Julio   67.282
164  03133 TORREVIEJA      Agosto   80.672
165  03133 TORREVIEJA  Septiembre   33.914
166  03133 TORREVIEJA     Octubre   39.777
167  03133 TORREVIEJA   Noviembre   33.503
168  03133 TORREVIEJA   Diciembre   30.586

## Grado ocupaci√≥n

Tabla de INEbase Grado de ocupaci√≥n por plazas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [13]:
ocupacion_plazas_eoap = pd.read_csv(os.path.join(datos, '60020.csv'), delimiter=';')
filtro = ocupacion_plazas_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_plazas_eoap = ocupacion_plazas_eoap[filtro]

print(ocupacion_plazas_eoap)

    Puntos tur√≠sticos       Meses  Total
156  03133 TORREVIEJA       Total  14,22
157  03133 TORREVIEJA       Enero    7,2
158  03133 TORREVIEJA     Febrero   9,89
159  03133 TORREVIEJA       Marzo  11,22
160  03133 TORREVIEJA       Abril   9,11
161  03133 TORREVIEJA        Mayo   8,04
162  03133 TORREVIEJA       Junio  14,16
163  03133 TORREVIEJA       Julio  25,91
164  03133 TORREVIEJA      Agosto  28,53
165  03133 TORREVIEJA  Septiembre  14,61
166  03133 TORREVIEJA     Octubre  17,96
167  03133 TORREVIEJA   Noviembre  17,01
168  03133 TORREVIEJA   Diciembre  14,66

## Grado de ocupaci√≥n por plazas en fin de semana

Tabla de INEbase Grado de ocupaci√≥n por plazas en fin de semana por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [14]:
ocupacion_plazas_finde_eoap = pd.read_csv(os.path.join(datos, '60021.csv'), delimiter=';')
filtro = ocupacion_plazas_finde_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_plazas_finde_eoap = ocupacion_plazas_finde_eoap[filtro]

print(ocupacion_plazas_finde_eoap)

    Puntos tur√≠sticos       Meses  Total
156  03133 TORREVIEJA       Total  13,74
157  03133 TORREVIEJA       Enero   7,44
158  03133 TORREVIEJA     Febrero   9,75
159  03133 TORREVIEJA       Marzo  11,99
160  03133 TORREVIEJA       Abril   8,99
161  03133 TORREVIEJA        Mayo   8,62
162  03133 TORREVIEJA       Junio  10,99
163  03133 TORREVIEJA       Julio  23,85
164  03133 TORREVIEJA      Agosto  30,91
165  03133 TORREVIEJA  Septiembre  13,05
166  03133 TORREVIEJA     Octubre  17,76
167  03133 TORREVIEJA   Noviembre   17,1
168  03133 TORREVIEJA   Diciembre  14,05

## Grado de ocupaci√≥n por apartamentos

Tabla de INEbase Grado de ocupaci√≥n por apartamentos por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [15]:
ocupacion_apartamentos_eoap = pd.read_csv(os.path.join(datos, '60022.csv'), delimiter=';')
filtro = ocupacion_apartamentos_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_apartamentos_eoap = ocupacion_apartamentos_eoap[filtro]

print(ocupacion_apartamentos_eoap)

    Puntos tur√≠sticos       Meses  Total
156  03133 TORREVIEJA       Total  18,63
157  03133 TORREVIEJA       Enero  15,15
158  03133 TORREVIEJA     Febrero  18,07
159  03133 TORREVIEJA       Marzo  22,89
160  03133 TORREVIEJA       Abril  14,47
161  03133 TORREVIEJA        Mayo  11,56
162  03133 TORREVIEJA       Junio  16,23
163  03133 TORREVIEJA       Julio  26,02
164  03133 TORREVIEJA      Agosto  27,37
165  03133 TORREVIEJA  Septiembre  17,41
166  03133 TORREVIEJA     Octubre  29,35
167  03133 TORREVIEJA   Noviembre  29,93
168  03133 TORREVIEJA   Diciembre  24,82

## Grado de ocupaci√≥n por apartamentos en fin de semana

Tabla de INEbase Grado de ocupaci√≥n por apartamentos en fin de semana por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [16]:
ocupacion_apartamentos_finde_eoap = pd.read_csv(os.path.join(datos, '60023.csv'), delimiter=';')
filtro = ocupacion_apartamentos_finde_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_apartamentos_finde_eoap = ocupacion_apartamentos_finde_eoap[filtro]

print(ocupacion_apartamentos_finde_eoap)

    Puntos tur√≠sticos       Meses  Total
156  03133 TORREVIEJA       Total  18,12
157  03133 TORREVIEJA       Enero  16,43
158  03133 TORREVIEJA     Febrero  17,91
159  03133 TORREVIEJA       Marzo  23,16
160  03133 TORREVIEJA       Abril  14,14
161  03133 TORREVIEJA        Mayo  12,27
162  03133 TORREVIEJA       Junio  13,02
163  03133 TORREVIEJA       Julio  24,32
164  03133 TORREVIEJA      Agosto  29,44
165  03133 TORREVIEJA  Septiembre  15,87
166  03133 TORREVIEJA     Octubre  30,16
167  03133 TORREVIEJA   Noviembre  29,98
168  03133 TORREVIEJA   Diciembre  23,52

## N√∫mero de apartamentos

Tabla de INEbase N√∫mero de apartamentos estimados por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [17]:
numero_apartamentos_eoap = pd.read_csv(os.path.join(datos, '60019.csv'), delimiter=';')
filtro = numero_apartamentos_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

numero_apartamentos_eoap = numero_apartamentos_eoap[filtro]

print(numero_apartamentos_eoap)

    Puntos tur√≠sticos       Meses  Total
144  03133 TORREVIEJA       Enero  1.058
145  03133 TORREVIEJA     Febrero  1.057
146  03133 TORREVIEJA       Marzo  1.123
147  03133 TORREVIEJA       Abril  3.527
148  03133 TORREVIEJA        Mayo  3.624
149  03133 TORREVIEJA       Junio  3.833
150  03133 TORREVIEJA       Julio  2.188
151  03133 TORREVIEJA      Agosto  2.142
152  03133 TORREVIEJA  Septiembre  1.800
153  03133 TORREVIEJA     Octubre  1.668
154  03133 TORREVIEJA   Noviembre  1.518
155  03133 TORREVIEJA   Diciembre  1.554

## N√∫mero de plazas

Tabla de INEbase N√∫mero de plazas estimadas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [18]:
numero_plazas_eoap = pd.read_csv(os.path.join(datos, '60018.csv'), delimiter=';')
filtro = numero_plazas_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

numero_plazas_eoap = numero_plazas_eoap[filtro]

print(numero_plazas_eoap)

    Puntos tur√≠sticos       Meses   Total
144  03133 TORREVIEJA       Enero   4.589
145  03133 TORREVIEJA     Febrero   4.589
146  03133 TORREVIEJA       Marzo   4.802
147  03133 TORREVIEJA       Abril  13.140
148  03133 TORREVIEJA        Mayo  13.439
149  03133 TORREVIEJA       Junio  14.102
150  03133 TORREVIEJA       Julio   8.377
151  03133 TORREVIEJA      Agosto   9.117
152  03133 TORREVIEJA  Septiembre   7.740
153  03133 TORREVIEJA     Octubre   7.143
154  03133 TORREVIEJA   Noviembre   6.564
155  03133 TORREVIEJA   Diciembre   6.730

## N√∫mero establecimientos apartamentos

Tabla de INEbase N√∫mero de establecimientos/empresas estimadas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [19]:
numero_establecimientos_eoap = pd.read_csv(os.path.join(datos, '60017.csv'), delimiter=';')
filtro = numero_establecimientos_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

numero_establecimientos_eoap = numero_establecimientos_eoap[filtro]

print(numero_establecimientos_eoap)

    Puntos tur√≠sticos       Meses Total
144  03133 TORREVIEJA       Enero    22
145  03133 TORREVIEJA     Febrero    22
146  03133 TORREVIEJA       Marzo    27
147  03133 TORREVIEJA       Abril    38
148  03133 TORREVIEJA        Mayo    38
149  03133 TORREVIEJA       Junio    39
150  03133 TORREVIEJA       Julio    40
151  03133 TORREVIEJA      Agosto    46
152  03133 TORREVIEJA  Septiembre    45
153  03133 TORREVIEJA     Octubre    39
154  03133 TORREVIEJA   Noviembre    36
155  03133 TORREVIEJA   Diciembre    37

## Viajeros

Tabla de INEbase Viajeros entrados por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [20]:
viajeros_eaop = pd.read_csv(os.path.join(datos, '60025.csv'), delimiter=';')
filtro = viajeros_eaop['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

viajeros_eaop = viajeros_eaop[filtro]

print(viajeros_eaop)

    Puntos tur√≠sticos       Meses   Total
156  03133 TORREVIEJA       Total  39.634
157  03133 TORREVIEJA       Enero     767
158  03133 TORREVIEJA     Febrero     986
159  03133 TORREVIEJA       Marzo   1.118
160  03133 TORREVIEJA       Abril   2.608
161  03133 TORREVIEJA        Mayo   2.723
162  03133 TORREVIEJA       Junio   7.780
163  03133 TORREVIEJA       Julio   6.342
164  03133 TORREVIEJA      Agosto   7.879
165  03133 TORREVIEJA  Septiembre   3.687
166  03133 TORREVIEJA     Octubre   2.464
167  03133 TORREVIEJA   Noviembre   1.400
168  03133 TORREVIEJA   Diciembre   1.880

## Pernoctaciones viajeros

Tabla de INEbase Pernoctaciones de los viajeros por puntos tur√≠sticos y pa√≠s de residencia. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [21]:
pernoctaciones_viajeros_pais_eoap = pd.read_csv(os.path.join(datos, '60028.csv'), delimiter=';')
filtro = pernoctaciones_viajeros_pais_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

pernoctaciones_viajeros_pais_eoap = pernoctaciones_viajeros_pais_eoap[filtro]

print(pernoctaciones_viajeros_pais_eoap)

    Puntos tur√≠sticos            Pa√≠s de residencia    Total
192  03133 TORREVIEJA                         Total  454.722
193  03133 TORREVIEJA                     Espa√±oles   52.426
194  03133 TORREVIEJA                   Extranjeros  402.296
195  03133 TORREVIEJA  Uni√≥n Europea27 (sin Espa√±a)  300.815
196  03133 TORREVIEJA                      Alemania   14.118
197  03133 TORREVIEJA                       B√©lgica    9.061
198  03133 TORREVIEJA                     Dinamarca   10.653
199  03133 TORREVIEJA                     Finlandia  149.864
200  03133 TORREVIEJA                       Francia   38.734
201  03133 TORREVIEJA                       Irlanda    6.237
202  03133 TORREVIEJA                        Italia    3.698
203  03133 TORREVIEJA                  Pa√≠ses Bajos   12.001
204  03133 TORREVIEJA                        Suecia   37.753
205  03133 TORREVIEJA                       Noruega   30.409
206  03133 TORREVIEJA                   Reino Unido   34.184
207  03133 TORREVIEJA                         Suiza    4.013

## Viajeros pa√≠s

Tabla de INEbase Viajeros entrados por puntos tur√≠sticos y pa√≠s de residencia. Nacional. Encuesta de Ocupaci√≥n en Apartamentos Tur√≠sticos

In [22]:
viajeros_pais_eoap = pd.read_csv(os.path.join(datos, '60026.csv'), delimiter=';')
filtro = viajeros_pais_eoap['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

viajeros_pais_eoap = viajeros_pais_eoap[filtro]

print(viajeros_pais_eoap)

    Puntos tur√≠sticos            Pa√≠s de residencia   Total
192  03133 TORREVIEJA                         Total  39.634
193  03133 TORREVIEJA                     Espa√±oles   6.911
194  03133 TORREVIEJA                   Extranjeros  32.723
195  03133 TORREVIEJA  Uni√≥n Europea27 (sin Espa√±a)  20.278
196  03133 TORREVIEJA                      Alemania   1.291
197  03133 TORREVIEJA                       B√©lgica   1.165
198  03133 TORREVIEJA                     Dinamarca   1.053
199  03133 TORREVIEJA                     Finlandia   6.392
200  03133 TORREVIEJA                       Francia   2.698
201  03133 TORREVIEJA                       Irlanda     760
202  03133 TORREVIEJA                        Italia     344
203  03133 TORREVIEJA                  Pa√≠ses Bajos   1.429
204  03133 TORREVIEJA                        Suecia   2.809
205  03133 TORREVIEJA                       Noruega   3.277
206  03133 TORREVIEJA                   Reino Unido   5.151
207  03133 TORREVIEJA                         Suiza     442

 #  <span style="color:red"> Encuesta de Ocupaci√≥n Hotelera (EOH) </span>

## Estancia media hotel

Tabla de INEbase Estancia media de los viajeros por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [23]:
estancia_media_eoh = pd.read_csv(os.path.join(datos, '59879.csv'), delimiter=';')
filtro = estancia_media_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

estancia_media_eoh = estancia_media_eoh[filtro]

print(estancia_media_eoh)

    Puntos tur√≠sticos       Meses Total
117  03133 TORREVIEJA       Total  3,42
118  03133 TORREVIEJA       Enero    ..
119  03133 TORREVIEJA     Febrero    ..
120  03133 TORREVIEJA       Marzo    ..
121  03133 TORREVIEJA       Abril    ..
122  03133 TORREVIEJA        Mayo    ..
123  03133 TORREVIEJA       Junio  2,83
124  03133 TORREVIEJA       Julio  3,65
125  03133 TORREVIEJA      Agosto  4,08
126  03133 TORREVIEJA  Septiembre  3,75
127  03133 TORREVIEJA     Octubre  3,35
128  03133 TORREVIEJA   Noviembre  3,74
129  03133 TORREVIEJA   Diciembre    ..

## Estancia media hotel residencia

Tabla de INEbase Estancia media de los viajeros por puntos tur√≠sticos y residencia. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [24]:
estancia_media_residencia_eoh = pd.read_csv(os.path.join(datos, '59880.csv'), delimiter=';')
filtro = estancia_media_residencia_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

estancia_media_residencia_eoh = estancia_media_residencia_eoh[filtro]

print(estancia_media_residencia_eoh)

   Puntos tur√≠sticos               Residencia Total
27  03133 TORREVIEJA                    Total  3,42
28  03133 TORREVIEJA     Residentes en Espa√±a   3,1
29  03133 TORREVIEJA  No residentes en Espa√±a  3,85

## N√∫mero de plazas

Tabla de INEbase Plazas estimadas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [25]:
numero_plazas_eoh = pd.read_csv(os.path.join(datos, '59868.csv'), delimiter=';')
filtro = numero_plazas_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

numero_plazas_eoh = numero_plazas_eoh[filtro]

print(numero_plazas_eoh)

    Puntos tur√≠sticos       Meses  Total
108  03133 TORREVIEJA       Enero     ..
109  03133 TORREVIEJA     Febrero     ..
110  03133 TORREVIEJA       Marzo     ..
111  03133 TORREVIEJA       Abril     ..
112  03133 TORREVIEJA        Mayo     ..
113  03133 TORREVIEJA       Junio  1.901
114  03133 TORREVIEJA       Julio  1.976
115  03133 TORREVIEJA      Agosto  1.949
116  03133 TORREVIEJA  Septiembre  1.910
117  03133 TORREVIEJA     Octubre  1.927
118  03133 TORREVIEJA   Noviembre  1.927
119  03133 TORREVIEJA   Diciembre     ..

## Grado ocupaci√≥n plazas hoteles

Tabla de INEbase Grado de ocupaci√≥n por plazas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [26]:
ocupacion_plazas_eoh = pd.read_csv(os.path.join(datos, '59870.csv'), delimiter=';')
filtro = ocupacion_plazas_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_plazas_eoh = ocupacion_plazas_eoh[filtro]

print(ocupacion_plazas_eoh)

    Puntos tur√≠sticos       Meses  Total
117  03133 TORREVIEJA       Total   51,4
118  03133 TORREVIEJA       Enero     ..
119  03133 TORREVIEJA     Febrero     ..
120  03133 TORREVIEJA       Marzo     ..
121  03133 TORREVIEJA       Abril     ..
122  03133 TORREVIEJA        Mayo     ..
123  03133 TORREVIEJA       Junio  51,88
124  03133 TORREVIEJA       Julio  62,34
125  03133 TORREVIEJA      Agosto  66,53
126  03133 TORREVIEJA  Septiembre     52
127  03133 TORREVIEJA     Octubre  45,42
128  03133 TORREVIEJA   Noviembre   53,4
129  03133 TORREVIEJA   Diciembre     ..

## Grado ocupaci√≥n habitaciones

Tabla de INEbase Grado de ocupaci√≥n por plazas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [27]:
ocupacion_habitaciones_eoh = pd.read_csv(os.path.join(datos, '59869.csv'), delimiter=';')
filtro = ocupacion_habitaciones_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_habitaciones_eoh = ocupacion_habitaciones_eoh[filtro]

print(ocupacion_habitaciones_eoh)

    Puntos tur√≠sticos       Meses  Total
117  03133 TORREVIEJA       Total  62,64
118  03133 TORREVIEJA       Enero     ..
119  03133 TORREVIEJA     Febrero     ..
120  03133 TORREVIEJA       Marzo     ..
121  03133 TORREVIEJA       Abril     ..
122  03133 TORREVIEJA        Mayo     ..
123  03133 TORREVIEJA       Junio  59,93
124  03133 TORREVIEJA       Julio  74,42
125  03133 TORREVIEJA      Agosto  80,76
126  03133 TORREVIEJA  Septiembre  65,18
127  03133 TORREVIEJA     Octubre  57,88
128  03133 TORREVIEJA   Noviembre  66,06
129  03133 TORREVIEJA   Diciembre     ..

## Grado ocupaci√≥n hoteles en fin de semana

Tabla de INEbase Grado de ocupaci√≥n por plazas en fin de semana por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [28]:
ocupacion_plazas_finde_eoh = pd.read_csv(os.path.join(datos, '59871.csv'), delimiter=';')
filtro = ocupacion_plazas_finde_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

ocupacion_plazas_finde_eoh = ocupacion_plazas_finde_eoh[filtro]

print(ocupacion_plazas_finde_eoh)

    Puntos tur√≠sticos       Meses  Total
117  03133 TORREVIEJA       Total  56,67
118  03133 TORREVIEJA       Enero     ..
119  03133 TORREVIEJA     Febrero     ..
120  03133 TORREVIEJA       Marzo     ..
121  03133 TORREVIEJA       Abril     ..
122  03133 TORREVIEJA        Mayo     ..
123  03133 TORREVIEJA       Junio  58,92
124  03133 TORREVIEJA       Julio  64,94
125  03133 TORREVIEJA      Agosto  69,84
126  03133 TORREVIEJA  Septiembre  58,93
127  03133 TORREVIEJA     Octubre  48,49
128  03133 TORREVIEJA   Noviembre  54,08
129  03133 TORREVIEJA   Diciembre     ..

## N√∫mero de establecimientos EOH

In [29]:
numero_establecimientos_eoh = pd.read_csv(os.path.join(datos, '59866.csv'), delimiter=';')
filtro = numero_establecimientos_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

numero_establecimientos_eoh = numero_establecimientos_eoh[filtro]

print(numero_establecimientos_eoh)

    Puntos tur√≠sticos       Meses Total
108  03133 TORREVIEJA       Enero    ..
109  03133 TORREVIEJA     Febrero    ..
110  03133 TORREVIEJA       Marzo    ..
111  03133 TORREVIEJA       Abril    ..
112  03133 TORREVIEJA        Mayo    ..
113  03133 TORREVIEJA       Junio    16
114  03133 TORREVIEJA       Julio    17
115  03133 TORREVIEJA      Agosto    16
116  03133 TORREVIEJA  Septiembre    16
117  03133 TORREVIEJA     Octubre    16
118  03133 TORREVIEJA   Noviembre    16
119  03133 TORREVIEJA   Diciembre    ..

## Viajeros hoteles

Tabla de INEbase Viajeros entrados por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [93]:
viajeros_eoh = pd.read_csv(os.path.join(datos, '59873.csv'), delimiter=';')
filtro = viajeros_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

viajeros_eoh = viajeros_eoh[filtro]
# viajeros_eoh = viajeros_eoh.replace('..', 0)

print(viajeros_eoh)

    Puntos tur√≠sticos       Meses    Total
117  03133 TORREVIEJA       Total  105.574
118  03133 TORREVIEJA       Enero       ..
119  03133 TORREVIEJA     Febrero       ..
120  03133 TORREVIEJA       Marzo       ..
121  03133 TORREVIEJA       Abril       ..
122  03133 TORREVIEJA        Mayo       ..
123  03133 TORREVIEJA       Junio   11.671
124  03133 TORREVIEJA       Julio   13.905
125  03133 TORREVIEJA      Agosto   13.454
126  03133 TORREVIEJA  Septiembre    8.608
127  03133 TORREVIEJA     Octubre    8.312
128  03133 TORREVIEJA   Noviembre    8.260
129  03133 TORREVIEJA   Diciembre       ..

In [ ]:
eoh_dict = {
    'estancia_media_eoh': estancia_media_eoh,
    'numero_plazas_eoh': numero_plazas_eoh,
    'ocupacion_plazas_eoh': ocupacion_plazas_eoh,
    'ocupacion_habitaciones_eoh': ocupacion_habitaciones_eoh,
    'ocupacion_plazas_finde_eoh': ocupacion_plazas_finde_eoh,
    'numero_establecimientos_eoh': numero_establecimientos_eoh,
    'viajeros_eoh': viajeros_eoh,    
    'habitaciones_eoh': habitaciones_eoh,
    'personal_eoh': personal_eoh
}
df_eoh_final = procesar(eoh_dict)

Tipo de df_list: <class 'dict'>
Claves del diccionario: dict_keys(['estancia_media_eoh', 'numero_plazas_eoh', 'ocupacion_plazas_eoh', 'ocupacion_habitaciones_eoh', 'ocupacion_plazas_finde_eoh', 'numero_establecimientos_eoh', 'viajeros_eoh', 'habitaciones_eoh', 'personal_eoh'])
Ejemplo del primer dataframe:
    Puntos tur√≠sticos    Meses Total
117  03133 TORREVIEJA    Total  3,42
118  03133 TORREVIEJA    Enero    ..
119  03133 TORREVIEJA  Febrero    ..
120  03133 TORREVIEJA    Marzo    ..
121  03133 TORREVIEJA    Abril    ..
Procesando df:estancia_media_eoh
Procesando df:numero_plazas_eoh
Procesando df:ocupacion_plazas_eoh
Procesando df:ocupacion_habitaciones_eoh
Procesando df:ocupacion_plazas_finde_eoh
Procesando df:numero_establecimientos_eoh
Procesando df:viajeros_eoh

TypeError: unhashable type: 'list'

## Viajeros pa√≠s

Tabla de INEbase Viajeros entrados por puntos tur√≠sticos, pa√≠s de residencia y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [31]:
viajeros_pais_eoh = pd.read_csv(os.path.join(datos, '59875.csv'), delimiter=';')
filtro = viajeros_pais_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

viajeros_pais_eoh = viajeros_pais_eoh[filtro]
# viajeros_pais_eoh = viajeros_pais_eoh.replace('..', 0)

print(viajeros_pais_eoh)

     Puntos tur√≠sticos Pa√≠s de residencia       Meses    Total
1638  03133 TORREVIEJA              Total       Total  105.574
1639  03133 TORREVIEJA              Total       Enero       ..
1640  03133 TORREVIEJA              Total     Febrero       ..
1641  03133 TORREVIEJA              Total       Marzo       ..
1642  03133 TORREVIEJA              Total       Abril       ..
...                ...                ...         ...      ...
1815  03133 TORREVIEJA     Estados Unidos      Agosto       40
1816  03133 TORREVIEJA     Estados Unidos  Septiembre       32
1817  03133 TORREVIEJA     Estados Unidos     Octubre       68
1818  03133 TORREVIEJA     Estados Unidos   Noviembre       14
1819  03133 TORREVIEJA     Estados Unidos   Diciembre       ..

[182 rows x 4 columns]

## Pernoctaciones

Tabla de INEbase Pernoctaciones de los viajeros por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [32]:
pernoctaciones_eoh = pd.read_csv(os.path.join(datos, '59876.csv'), delimiter=';')
filtro = pernoctaciones_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

pernoctaciones_eoh = pernoctaciones_eoh[filtro]
# pernoctaciones_eoh = pernoctaciones_eoh.replace('..', 0)

print(pernoctaciones_eoh)

    Puntos tur√≠sticos       Meses    Total
117  03133 TORREVIEJA       Total  360.982
118  03133 TORREVIEJA       Enero       ..
119  03133 TORREVIEJA     Febrero       ..
120  03133 TORREVIEJA       Marzo       ..
121  03133 TORREVIEJA       Abril       ..
122  03133 TORREVIEJA        Mayo       ..
123  03133 TORREVIEJA       Junio   33.045
124  03133 TORREVIEJA       Julio   50.721
125  03133 TORREVIEJA      Agosto   54.878
126  03133 TORREVIEJA  Septiembre   32.284
127  03133 TORREVIEJA     Octubre   27.873
128  03133 TORREVIEJA   Noviembre   30.878
129  03133 TORREVIEJA   Diciembre       ..

## Pernoctaciones viajeros hoteles

Tabla de INEbase Pernoctaciones de los viajeros por puntos tur√≠sticos, pa√≠s de residencia y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [33]:
pernoctaciones_pais_eoh = pd.read_csv(os.path.join(datos, '59878.csv'), delimiter=';')
filtro = pernoctaciones_pais_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

pernoctaciones_pais_eoh = pernoctaciones_pais_eoh[filtro]

print(pernoctaciones_pais_eoh)

     Puntos tur√≠sticos Pa√≠s de residencia       Meses    Total
1638  03133 TORREVIEJA              Total       Total  360.982
1639  03133 TORREVIEJA              Total       Enero       ..
1640  03133 TORREVIEJA              Total     Febrero       ..
1641  03133 TORREVIEJA              Total       Marzo       ..
1642  03133 TORREVIEJA              Total       Abril       ..
...                ...                ...         ...      ...
1815  03133 TORREVIEJA     Estados Unidos      Agosto      302
1816  03133 TORREVIEJA     Estados Unidos  Septiembre      104
1817  03133 TORREVIEJA     Estados Unidos     Octubre      233
1818  03133 TORREVIEJA     Estados Unidos   Noviembre       39
1819  03133 TORREVIEJA     Estados Unidos   Diciembre       ..

[182 rows x 4 columns]

## Pernoctaciones por pa√≠s de residencia

Tabla de INEbase Pernoctaciones de los viajeros por puntos tur√≠sticos y pa√≠s de residencia. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [34]:
pernoctaciones_residencia_eoh = pd.read_csv(os.path.join(datos, '59877.csv'), delimiter=';')
filtro = pernoctaciones_residencia_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

pernoctaciones_residencia_eoh = pernoctaciones_residencia_eoh[filtro]

print(pernoctaciones_residencia_eoh)

    Puntos tur√≠sticos             Pa√≠s de residencia    Total
126  03133 TORREVIEJA                          Total  360.982
127  03133 TORREVIEJA           Residentes en Espa√±a  188.981
128  03133 TORREVIEJA        No residentes en Espa√±a  172.000
129  03133 TORREVIEJA  Uni√≥n Europea 27 (sin Espa√±a)  106.257
130  03133 TORREVIEJA                       Alemania    9.842
131  03133 TORREVIEJA                        B√©lgica   17.107
132  03133 TORREVIEJA                        Francia    7.344
133  03133 TORREVIEJA                         Italia    4.276
134  03133 TORREVIEJA                   Pa√≠ses Bajos    9.806
135  03133 TORREVIEJA                       Portugal    1.141
136  03133 TORREVIEJA                    Reino Unido   33.307
137  03133 TORREVIEJA                          Jap√≥n       ..
138  03133 TORREVIEJA                Rep√∫blica China      503
139  03133 TORREVIEJA                 Estados Unidos    1.537

## Viajeros pa√≠s hoteles

Tabla de INEbase Viajeros entrados por puntos tur√≠sticos y pa√≠s de residencia. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [35]:
viajeros_pais_eoh = pd.read_csv(os.path.join(datos, '59874.csv'), delimiter=';')
filtro = viajeros_pais_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

viajeros_pais_eoh = viajeros_pais_eoh[filtro]

print(viajeros_pais_eoh)

    Puntos tur√≠sticos             Pa√≠s de residencia    Total
126  03133 TORREVIEJA                          Total  105.574
127  03133 TORREVIEJA           Residentes en Espa√±a   60.947
128  03133 TORREVIEJA        No residentes en Espa√±a   44.627
129  03133 TORREVIEJA  Uni√≥n Europea 27 (sin Espa√±a)   27.046
130  03133 TORREVIEJA                       Alemania    2.104
131  03133 TORREVIEJA                        B√©lgica    4.543
132  03133 TORREVIEJA                        Francia    2.025
133  03133 TORREVIEJA                         Italia    1.086
134  03133 TORREVIEJA                   Pa√≠ses Bajos    2.655
135  03133 TORREVIEJA                       Portugal      314
136  03133 TORREVIEJA                    Reino Unido    7.683
137  03133 TORREVIEJA                          Jap√≥n       ..
138  03133 TORREVIEJA                Rep√∫blica China      354
139  03133 TORREVIEJA                 Estados Unidos      498

## Habitaciones hoteles

Tabla de INEbase Habitaciones estimadas por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [36]:
habitaciones_eoh = pd.read_csv(os.path.join(datos, '59867.csv'), delimiter=';')
filtro = habitaciones_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

habitaciones_eoh = habitaciones_eoh[filtro]
# habitaciones_eoh = habitaciones_eoh.replace('..', 0)

print(habitaciones_eoh)

    Puntos tur√≠sticos       Meses Total
108  03133 TORREVIEJA       Enero    ..
109  03133 TORREVIEJA     Febrero    ..
110  03133 TORREVIEJA       Marzo    ..
111  03133 TORREVIEJA       Abril    ..
112  03133 TORREVIEJA        Mayo    ..
113  03133 TORREVIEJA       Junio   874
114  03133 TORREVIEJA       Julio   902
115  03133 TORREVIEJA      Agosto   891
116  03133 TORREVIEJA  Septiembre   878
117  03133 TORREVIEJA     Octubre   893
118  03133 TORREVIEJA   Noviembre   893
119  03133 TORREVIEJA   Diciembre    ..

## Personal ocupado

Tabla de INEbase Personal ocupado por puntos tur√≠sticos y meses. Nacional. Encuesta de Ocupaci√≥n Hotelera

In [37]:
personal_eoh = pd.read_csv(os.path.join(datos, '59872.csv'), delimiter=';')
filtro = personal_eoh['Puntos tur√≠sticos'] == "03133 TORREVIEJA"

personal_eoh = personal_eoh[filtro]
# personal_eoh = personal_eoh.replace('..', 0)

print(personal_eoh)

    Puntos tur√≠sticos       Meses Total
108  03133 TORREVIEJA       Enero    ..
109  03133 TORREVIEJA     Febrero    ..
110  03133 TORREVIEJA       Marzo    ..
111  03133 TORREVIEJA       Abril    ..
112  03133 TORREVIEJA        Mayo    ..
113  03133 TORREVIEJA       Junio   275
114  03133 TORREVIEJA       Julio   278
115  03133 TORREVIEJA      Agosto   292
116  03133 TORREVIEJA  Septiembre   290
117  03133 TORREVIEJA     Octubre   214
118  03133 TORREVIEJA   Noviembre   201
119  03133 TORREVIEJA   Diciembre    ..

# Combinaci√≥n

In [38]:
def mes_a_numero(mes):
    meses = {
        'Enero': 1,
        'Febrero': 2,
        'Marzo': 3,
        'Abril': 4,
        'Mayo': 5,
        'Junio': 6,
        'Julio': 7,
        'Agosto': 8,
        'Septiembre': 9,
        'Octubre': 10,
        'Noviembre': 11,
        'Diciembre': 12,
        'Total': 0  # Podemos usar 0 para representar el total
    }
    return meses.get(mes, mes)

In [77]:
eoap_dict = {
    'estancia_media_eoap': estancia_media_eoap,
    'pernoctaciones_eoap': pernoctaciones_eoap,
    'ocupacion_plazas_eoap': ocupacion_plazas_eoap,
    'ocupacion_plazas_finde_eoap': ocupacion_plazas_finde_eoap,
    'ocupacion_apartamentos_eoap': ocupacion_apartamentos_eoap,
    'ocupacion_apartamentos_finde_eoap': ocupacion_apartamentos_finde_eoap,
    'numero_apartamentos_eoap': numero_apartamentos_eoap,
    'numero_plazas_eoap': numero_plazas_eoap,
    'numero_establecimientos_eoap': numero_establecimientos_eoap,
    'viajeros_eoap': viajeros_eaop
}

viajeros_eoap = {
    'pernoctaciones_pais': pernoctaciones_viajeros_pais_eoap,
    'viajeros_pais': viajeros_pais_eoap
}

eoh_dict = {
    'estancia_media_eoh': estancia_media_eoh,
    'numero_plazas_eoh': numero_plazas_eoh,
    'ocupacion_plazas_eoh': ocupacion_plazas_eoh,
    'ocupacion_habitaciones_eoh': ocupacion_habitaciones_eoh,
    'ocupacion_plazas_finde_eoh': ocupacion_plazas_finde_eoh,
    'numero_establecimientos_eoh': numero_establecimientos_eoh,
    'viajeros_eoh': viajeros_eoh,    
    'habitaciones_eoh': habitaciones_eoh,
    'personal_eoh': personal_eoh
}

viajeros_eoh = {
    'pernoctaciones_eoh': pernoctaciones_eoh,
    'pernoctaciones_residencia_eoh': pernoctaciones_residencia_eoh,
    'viajeros_pais_eoh': viajeros_pais_eoh,
    'estancia_media_residencia_eoh': estancia_media_residencia_eoh
}

In [87]:
def procesar(df_list):

    print("Tipo de df_list:", type(df_list))
    print("Claves del diccionario:", df_list.keys())
    print("Ejemplo del primer dataframe:")
    primer_nombre = list(df_list.keys())[0]
    print(df_list[primer_nombre].head())
    
    dfs_procesados = []
    for nombre, df in df_list.items():

        print(f"Procesando df:{nombre}")
        
        # Seleccionar solo las columnas necesarias
        df_temp = df[['Meses', 'Total']].copy()
        
        # Convertir meses a n√∫meros
        df_temp['Mes_Num'] = df_temp['Meses'].apply(mes_a_numero)
        
        # Excluir la fila de total
        df_temp = df_temp[df_temp['Mes_Num'] != 0]
        
        # Reemplazar '..' por '0' y ',' por '.'
        df_temp = df_temp.replace('..', '0')
        df_temp['Total'] = df_temp['Total'].astype(str).str.replace(',', '.')
        
        # Convertir a num√©rico
        df_temp['Total'] = pd.to_numeric(df_temp['Total'], errors='coerce')
        
        # Renombrar la columna Total con el nombre del dataset
        df_temp = df_temp.rename(columns={'Total': nombre})
        
        # Ordenar por el n√∫mero de mes
        df_temp = df_temp.sort_values('Mes_Num')
        
        # Eliminar la columna de meses en texto
        df_temp = df_temp.drop('Meses', axis=1)
        
        dfs_procesados.append(df_temp)

    # Combinar todos los dataframes usando el n√∫mero de mes como √≠ndice
    df_final = dfs_procesados[0]
    for df in dfs_procesados[1:]:
        df_final = df_final.merge(df, on='Mes_Num', how='outer')

    # Ordenar por mes
    df_final = df_final.sort_values('Mes_Num')

    # Convertir todas las columnas (excepto Mes_Num) a tipo num√©rico
    columnas_numericas = [col for col in df_final.columns if col != 'Mes_Num']
    for col in columnas_numericas:
        df_final[col] = pd.to_numeric(df_final[col], errors='coerce')

    # Calcular el total para cada columna
    totales = df_final[columnas_numericas].mean()
    fila_total = pd.DataFrame(totales).T
    fila_total['Mes_Num'] = 0

    # Combinar el dataframe original con la fila de totales
    df_final = pd.concat([fila_total, df_final], ignore_index=True)

    # Si quieres mantener el mes como √≠ndice
    df_final = df_final.set_index('Mes_Num')

    # Crear un diccionario para mapear los n√∫meros de mes a nombres
    meses = {
        0: 'Media total',
        1: 'Enero',
        2: 'Febrero',
        3: 'Marzo',
        4: 'Abril',
        5: 'Mayo',
        6: 'Junio',
        7: 'Julio',
        8: 'Agosto',
        9: 'Septiembre',
        10: 'Octubre',
        11: 'Noviembre',
        12: 'Diciembre'
    }

    # A√±adir los nombres de los meses como una columna
    df_final['Mes'] = df_final.index.map(meses)

    # Reordenar las columnas para que 'Mes' sea la primera
    columnas = ['Mes'] + [col for col in df_final.columns if col != 'Mes']
    df_final = df_final[columnas]

    # Mostrar el resultado
    display(df_final)

    return df_final

In [96]:
eoap_final = procesar(eoap_dict)

Tipo de df_list: <class 'dict'>
Claves del diccionario: dict_keys(['estancia_media_eoap', 'pernoctaciones_eoap', 'ocupacion_plazas_eoap', 'ocupacion_plazas_finde_eoap', 'ocupacion_apartamentos_eoap', 'ocupacion_apartamentos_finde_eoap', 'numero_apartamentos_eoap', 'numero_plazas_eoap', 'numero_establecimientos_eoap', 'viajeros_eoap'])
Ejemplo del primer dataframe:
    Puntos tur√≠sticos    Meses  Total
156  03133 TORREVIEJA    Total  11,47
157  03133 TORREVIEJA    Enero  13,34
158  03133 TORREVIEJA  Febrero  12,89
159  03133 TORREVIEJA    Marzo  14,94
160  03133 TORREVIEJA    Abril  13,77
Procesando df:estancia_media_eoap
Procesando df:pernoctaciones_eoap
Procesando df:ocupacion_plazas_eoap
Procesando df:ocupacion_plazas_finde_eoap
Procesando df:ocupacion_apartamentos_eoap
Procesando df:ocupacion_apartamentos_finde_eoap
Procesando df:numero_apartamentos_eoap
Procesando df:numero_plazas_eoap
Procesando df:numero_establecimientos_eoap
Procesando df:viajeros_eoap

,Mes,estancia_media_eoap,pernoctaciones_eoap,ocupacion_plazas_eoap,ocupacion_plazas_finde_eoap,ocupacion_apartamentos_eoap,ocupacion_apartamentos_finde_eoap,numero_apartamentos_eoap,numero_plazas_eoap,numero_establecimientos_eoap,viajeros_eoap
Mes_Num,,,,,,,,,,,
0,Media total,13.445,37.8935,14.858333,14.541667,21.105833,20.851667,2.091,8.361,35.75,149.240083
1,Enero,13.340,10.2390,7.200000,7.440000,15.150000,16.430000,1.058,4.589,22.00,767.000000
2,Febrero,12.890,12.7120,9.890000,9.750000,18.070000,17.910000,1.057,4.589,22.00,986.000000
3,Marzo,14.940,16.7090,11.220000,11.990000,22.890000,23.160000,1.123,4.802,27.00,1.118000
4,Abril,13.770,35.9130,9.110000,8.990000,14.470000,14.140000,3.527,13.140,38.00,2.608000
5,Mayo,12.300,33.4940,8.040000,8.620000,11.560000,12.270000,3.624,13.439,38.00,2.723000
6,Junio,7.700,59.9210,14.160000,10.990000,16.230000,13.020000,3.833,14.102,39.00,7.780000
7,Julio,10.610,67.2820,25.910000,23.850000,26.020000,24.320000,2.188,8.377,40.00,6.342000
8,Agosto,10.240,80.6720,28.530000,30.910000,27.370000,29.440000,2.142,9.117,46.00,7.879000
9,Septiembre,9.200,33.9140,14.610000,13.050000,17.410000,15.870000,1.800,7.740,45.00,3.687000
10,Octubre,16.150,39.7770,17.960000,17.760000,29.350000,30.160000,1.668,7.143,39.00,2.464000
11,Noviembre,23.930,33.5030,17.010000,17.100000,29.930000,29.980000,1.518,6.564,36.00,1.400000
12,Diciembre,16.270,30.5860,14.660000,14.050000,24.820000,23.520000,1.554,6.730,37.00,1.880000

In [95]:
eoh_final = procesar(eoh_dict)

Tipo de df_list: <class 'dict'>
Claves del diccionario: dict_keys(['estancia_media_eoh', 'numero_plazas_eoh', 'ocupacion_plazas_eoh', 'ocupacion_habitaciones_eoh', 'ocupacion_plazas_finde_eoh', 'numero_establecimientos_eoh', 'viajeros_eoh', 'habitaciones_eoh', 'personal_eoh'])
Ejemplo del primer dataframe:
    Puntos tur√≠sticos    Meses Total
117  03133 TORREVIEJA    Total  3,42
118  03133 TORREVIEJA    Enero    ..
119  03133 TORREVIEJA  Febrero    ..
120  03133 TORREVIEJA    Marzo    ..
121  03133 TORREVIEJA    Abril    ..
Procesando df:estancia_media_eoh
Procesando df:numero_plazas_eoh
Procesando df:ocupacion_plazas_eoh
Procesando df:ocupacion_habitaciones_eoh
Procesando df:ocupacion_plazas_finde_eoh
Procesando df:numero_establecimientos_eoh
Procesando df:viajeros_eoh
Procesando df:habitaciones_eoh
Procesando df:personal_eoh

,Mes,estancia_media_eoh,numero_plazas_eoh,ocupacion_plazas_eoh,ocupacion_habitaciones_eoh,ocupacion_plazas_finde_eoh,numero_establecimientos_eoh,viajeros_eoh,habitaciones_eoh,personal_eoh
Mes_Num,,,,,,,,,,
0,Media total,1.783333,0.965833,27.630833,33.685833,29.60,8.083333,5.350833,444.25,129.166667
1,Enero,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000
2,Febrero,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000
3,Marzo,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000
4,Abril,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000
5,Mayo,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000
6,Junio,2.830000,1.901000,51.880000,59.930000,58.92,16.000000,11.671000,874.00,275.000000
7,Julio,3.650000,1.976000,62.340000,74.420000,64.94,17.000000,13.905000,902.00,278.000000
8,Agosto,4.080000,1.949000,66.530000,80.760000,69.84,16.000000,13.454000,891.00,292.000000
9,Septiembre,3.750000,1.910000,52.000000,65.180000,58.93,16.000000,8.608000,878.00,290.000000
10,Octubre,3.350000,1.927000,45.420000,57.880000,48.49,16.000000,8.312000,893.00,214.000000
11,Noviembre,3.740000,1.927000,53.400000,66.060000,54.08,16.000000,8.260000,893.00,201.000000
12,Diciembre,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.000000

In [99]:
eoap_final.to_csv('combined_eoap.csv', index=True, sep=';')
eoh_final.to_csv('combined_eoh.csv', index=True, sep=';')