## Librerías

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import os

## Carga de datos

Descripción de las columnas:

- `Property ID`:
- `Property Type`:
- `Listing Type`:
- `Bedrooms`:
- `Reporting Month`:
- `Occupancy Rate`:
- `Revenue (USD)`:
- `Revenue(Native)`:
- `ADR (USD)`:
- `ADR (Native)`:
- `Number of Reservations`:
- `Reservation Days`:
- `Available Days`:
- `Blocked Days`:
- `Country`:
- `State`:
- `City`:
- `Latitude`:
- `Longitude`:
- `Active`:
- `Scraped During Month`:
- `Currency Native`:
- `Airbnb Property ID`:
- `HomeAway Property Manager`:

In [3]:
path = os.path.join(os.getcwd(), 'data/processed_monthly.csv')

df = pd.read_csv(path, sep=',', decimal='.')

df.head(3)

C:\Users\Multivac Desktop\AppData\Local\Temp\ipykernel_18120\1201202551.py:3: DtypeWarning: Columns (21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path, sep=',', decimal='.')

,Property ID,Property Type,Listing Type,Bedrooms,Reporting Month,Occupancy Rate,Revenue (USD),Revenue (Native),ADR (USD),ADR (Native),...,Country,State,City,Latitude,Longitude,Active,Scraped During Month,Currency Native,Airbnb Property ID,HomeAway Property Manager
0,ab-295403,Entire apartment,Entire home/apt,2,2016-06-01,0.0,0.0,0.0,NaN,NaN,...,Spain,NaN,Guardamar del Segura,38.095559,-0.656122,False,True,EUR,295403.0,NaN
1,ab-295403,Entire apartment,Entire home/apt,2,2016-07-01,0.0,0.0,0.0,NaN,NaN,...,Spain,NaN,Guardamar del Segura,38.095559,-0.656122,False,True,EUR,295403.0,NaN
2,ab-295403,Entire apartment,Entire home/apt,2,2016-08-01,0.0,0.0,0.0,NaN,NaN,...,Spain,NaN,Guardamar del Segura,38.095559,-0.656122,False,False,EUR,295403.0,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950448 entries, 0 to 950447
Data columns (total 24 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Property ID                950448 non-null  object
 1   Property Type              950307 non-null  object
 2   Listing Type               950400 non-null  object
 3   Bedrooms                   950448 non-null  int64
 4   Reporting Month            950448 non-null  object
 5   Occupancy Rate             950448 non-null  float64
 6   Revenue (USD)              950448 non-null  float64
 7   Revenue (Native)           713678 non-null  float64
 8   ADR (USD)                  306907 non-null  float64
 9   ADR (Native)               241112 non-null  float64
 10  Number of Reservations     950448 non-null  int64
 11  Reservation Days           950448 non-null  int64
 12  Available Days             950448 non-null  int64
 13  Blocked Days               950448 non-null  int64
 14  Country                    950436 non-null  object
 15  State                      898336 non-null  object
 16  City                       950448 non-null  object
 17  Latitude                   950448 non-null  float64
 18  Longitude                  950448 non-null  float64
 19  Active                     950448 non-null  bool
 20  Scraped During Month       950448 non-null  bool
 21  Currency Native            713678 non-null  object
 22  Airbnb Property ID         713690 non-null  float64
 23  HomeAway Property Manager  29844 non-null   object
dtypes: bool(2), float64(8), int64(5), object(9)
memory usage: 161.3+ MB

In [6]:
# Analisis de nulos
num_duplicated = df.duplicated().sum()
print(f'Número de líneas duplicadas: {num_duplicated}')

num_nulls = df.isnull().sum().sum()
print(f'Valores nulos: {num_nulls}')

Número de líneas duplicadas: 0
Valores nulos: 3036092

In [7]:
df.isnull().sum().sort_values(ascending=False)

HomeAway Property Manager    920604
ADR (Native)                 709336
ADR (USD)                    643541
Revenue (Native)             236770
Currency Native              236770
Airbnb Property ID           236758
State                         52112
Property Type                   141
Listing Type                     48
Country                          12
Revenue (USD)                     0
Bedrooms                          0
Property ID                       0
Occupancy Rate                    0
Reporting Month                   0
Reservation Days                  0
Available Days                    0
Blocked Days                      0
Number of Reservations            0
City                              0
Active                            0
Longitude                         0
Latitude                          0
Scraped During Month              0
dtype: int64